<!DOCTYPE html>
<html>
  <head>
    <title>Open Hours</title>
  </head>
  <body>
    <h1>Open Hours</h1>
    <table>
      <tr>
        <td>Sunday</td>
        <td>11 AM–6 PM</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>10 AM–8 PM</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>10 AM–8 PM</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>10 AM–8 PM</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>10 AM–8 PM</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>10 AM–8 PM</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>10 AM–8 PM</td>
      </tr>
    </table>
    <p><strong>Suggest new hours:</strong></p>
    <table>
      <tr>
        <td>Monday-Thursday</td>
        <td>10 AM–8 PM</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>9 AM-9 PM</td>
      </tr>
      <tr>
        <td>Saturday-Sunday</td>
        <td>11 AM–7 PM</td>
      </tr>
    </table>
  </body>
</html>
